@import "styles/reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,600,700,800,900|Playfair+Display:400,700,900&subset=cyrillic,cyrillic-ext');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* header */

header {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(header.png);
  background-size: cover;
}

nav {
  width: 600px;
  height: 94px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 0 60px;

}

.logo {
  width: 63px;
  height: 58px;
}

a {
  font-family: Montserrat Alternates;
  font-weight: 300;
  font-size: 26px;
  text-decoration: none;
  color: #000000;
}

h1 {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 96px;
  text-align: center;
  margin: 0;
  padding: 20px 80px 0 20px;
}

/* about */

.first {
  position: absolute;
  top: 100px;
  left: -200px;
}

.first img {
  width: 100%;
  height: 1500px;
  filter: blur(0px);
  opacity: 0.7;
}

.first img:hover {
  filter: blur(7px);
}

section {
  display: flex;
  justify-content: flex-end;
  height: 924px;
  margin-bottom: 160px;
}

.about_text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about_heading {
  display: flex;
  flex-direction: row;
  margin-right: 81px;
}

h4 {
  width: 152px;
  margin: 110px 0 0 0;

  font-family: Montserrat Alternates;
  font-weight: 300;
  font-size: 48px;
  text-align: right;
}

h2 {
  width: 257px;
  margin: 95px 0 60px 0;

  font-family: Playfair Display;
  font-size: 96px;
  text-align: left;
}

p {
  width: 544px;

  font-family: Montserrat Alternates;
  font-size: 36px;
  margin: 0 0 40px 0;
}

/* archieve */

.archieve {
display: flex;
justify-content: space-between;
background-image: url(bg.png);
background-size: cover;
}

.archieve_text {
  margin: -104px 95px 0 95px;
}

.archieve_text h4 {
  margin-top: 14px;
}

.archieve_text h2 {
  margin:0 0 60px 0;
}

.archieve_text p {
  width: 449px;
}

.archieve_heading {
  display: flex;
  flex-direction: row;
}

/* contact */

.second img {
width: 100%;
height: 2000px;
filter: blur(0px);
opacity: 0.7;
}

.second {
position: absolute;
top: 1350px;
}

.second img:hover {
  filter: blur(7px);
}


.contact_heading {
  display: flex;
  flex-direction: row;
}

.contact_text h4, .contact_text h2 {
  text-align: left;
  width: auto;
}

.contact_text p {
  width: 524px;
}

.contact_text {
  margin-left: 186px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.mail h4 {
  font-weight: normal;
  margin: 55px 0 0 40px;
}

.mail {
  width: 660px;
  height: 169px;
  background-image: url(mail.png);
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 124px;
  background-color: grey;
}

h3 {
  font-family: Montserrat Alternates;
  font-weight: 300;
  font-size: 32px;

  color: #FFFFFF;

}

@media all and (max-width: 768px) {
  h1 {
    padding: 30px 20px 0 0;
    font-size: 78px;
  }

  p {
    font-size: 34px;
    width: 400px;
    margin-right: 48px;
  }

  .archieve {
    justify-content: center;
  }

  .archieve_text {
    margin: 0;
  }

  .contact_text {
    margin-left: 100px;
  }
}

@media all and (min-width: 320px) and (max-width: 1024px){

  header {
    width: auto;
    margin-bottom: 100px;
    flex-direction: column;
  }

  nav {
    width: 100%;
    padding: 50px 20px 0 20px;
    justify-content:space-around;
  }

  h1 {
    font-size: 110px;
    padding-right: 0;
  }

  .memento {
    margin-bottom: -50px;
  }

  a {
    font-size: 36px;
  }

  .about {
    justify-content: center;
  }

  .archieve {
    justify-content: center;
  }

  .archieve_text {
    width: 800px;
    margin: 0;
  }

  .archieve p {
    width: 800px;
    margin-right: 0;
  }

  p {
    font-size: 40px;
  }

}
